/* Background & font */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   /* background: linear-gradient(to right, #1e3c72, #2a5298);
    color: #fff;*/
    
    background: #f3f4f6;
    color: #111827;

    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 700px;
    margin: 50px auto;
   /* background-color: rgba(0,0,0,0.5);*/
    background: #ffffff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0,0,0,0.7);
}
.company-logo {
    width: 50px;
    height: auto;
    display: block;
    margin: 0 auto 10px auto;
}


h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

/* Buttons */
button {
    padding: 12px 25px;
    margin: 10px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  /*  background: #00bfff; */
     background: #166534;   /* dark green */
    color: #fff;
    transition: 0.3s;
}

button:hover {
    background: #009acd;
}

/* Output box */
.output {
    margin-top: 30px;
    background: rgba(255,255,255,0.1);
    padding: 20px;
    border-radius: 10px;
    min-height: 100px;
    text-align: left;
}

/* Modal Styles */
.modal {
    display: none;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.7);
}

.modal-content {
    background-color: #1e3c72;
    margin: 15% auto;
    padding: 20px;
    border-radius: 15px;
    width: 80%;
    max-width: 400px;
    color: #fff;
    text-align: center;
}

.modal input {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 10px;
    border: none;
}

.close {
    color: #fff;
    float: right;
    font-size: 25px;
    cursor: pointer;
}


